.concept__content {
  max-width: 980px;
  width: 100%;
  margin: 100px auto;
  min-height: -webkit-calc(100vh - 267px);
  min-height: calc(100vh - 267px); }

.concept__title {
  padding: 24px 0; }

.concept__img--left {
  float: left;
  margin-right: 24px; }

.concept__img--right {
  float: right;
  margin-left: 24px; }

.concept__img {
  padding: 4px;
  margin-bottom: 24px;
  border: 1px solid lightgray; }

.concept__text-link {
  color: #DFA94F;
  text-decoration: none; }

.concept__text-link:hover {
  text-decoration: underline; }
