.contact-form {
  max-width: 980px;
  margin: auto;
  margin-top: 12px;
  padding: 24px 0; }

.contact-wrapper {
  min-height: -webkit-calc(100vh - 167px);
  min-height: calc(100vh - 167px); }

.contact__title {
  color: #888;
  padding: 24px 0; }

.contact__item {
  height: 40px;
  width: 100%; }

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #888; }
  .input-wrapper label {
    width: 30%; }
    .input-wrapper label .req {
      color: red; }
    .input-wrapper label input {
      color: #888;
      padding: 0 8px; }

.contact__textarea {
  width: 100%; }

.contact__textarea-wrapper {
  margin-top: 24px;
  display: block;
  color: #888; }
  .contact__textarea-wrapper textarea {
    padding: 8px;
    color: #888; }

.contact__button {
  width: 150px;
  height: 35px;
  outline: none;
  border: 1px solid #888;
  background-color: #FBFBFB;
  margin-top: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.contact__button:hover {
  background-color: #f0f0f0; }

.social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social__item {
  margin-right: 24px;
  width: 60px;
  height: auto;
  display: block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .social__item img {
    width: 100%; }

.social__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.contact-wrapper {
  margin-top: 140px;
  max-width: 980px;
  width: 100%;
  margin: 100px auto 0; }
