.contact-form {
  margin: auto;
  margin-top: 12px;
  padding: 24px 0;
  width: 100%;
}

.form-wrapper {
  max-width: 850px;
  width: 100%;
}

.contact-wrapper {
  min-height: -webkit-calc(100vh - 167px);
  min-height: calc(100vh - 167px); }

.contact__title {
  color: #888;
  padding: 24px 0; }

.contact__item {
  height: 40px;
  width: 100%; }

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #888; }
  .input-wrapper label {
    width: 30%; }
    .input-wrapper label .req {
      color: red; }
    .input-wrapper label input {
      color: #888;
      padding: 0 8px; }

.contact__textarea {
  width: 100%; }

.contact__textarea-wrapper {
  margin-top: 24px;
  display: block;
  color: #888; }
  .contact__textarea-wrapper textarea {
    padding: 8px;
    color: #888; }

.contact__button {
  width: 150px;
  height: 35px;
  outline: none;
  border: 1px solid #888;
  background-color: #dfa94f;
  margin-top: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.contact__button:hover {
  background-color: #f0f0f0; }

.social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-left: 24px;
}

.social__item {
  margin-bottom: 14px;
  width: 60px;
  height: auto;
  display: block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .social__item img {
    width: 100%; }

.social__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.contact-wrapper {
  margin-top: 140px;
  max-width: 980px;
  width: 100%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.projects__wrapper {
  max-width: 980px;
  width: 100%;
  margin: 100px auto 0; }

.projects__title {
  text-align: center;
  padding: 22px 0; }

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.projects__item {
    border: 1px solid #dfa94f;
    box-shadow: 4px 4px 4px grey;
  width: 222px;
  height: 222px;
  background-image: url("../img/proj.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-bottom: 30px; }

.projects__item:hover {
    box-shadow: 8px 8px 8px lightgray !important;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06); }

.project-full {
  position: fixed;
  max-width: 980px;
  height: auto;
  max-height: 80%;
  background-color: #fff;
  z-index: 99999999;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  left: -webkit-calc(50% - 490px);
  left: calc(50% - 490px);
  top: 16%;
  overflow: auto; }

.growup {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  overflow: auto; }

.project-full__content {
  padding: 16px;
  overflow: auto; }

.shadow-active {
  display: block; }

.proj-slider .slick-arrow {
  position: absolute;
  top: 40%;
  background-color: transparent;
  font-size: 40px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.proj-slider .slick-arrow:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8; }

.proj-slider .slick-arrow.slick-next {
  right: 1px; }

.proj-slider .slick-arrow.slick-prev {
  z-index: 999; }

.cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: none; }
  .cross img {
    width: 100%; }

.concept__content {
  max-width: 980px;
  width: 100%;
  margin: 100px auto;
  min-height: -webkit-calc(100vh - 267px);
  min-height: calc(100vh - 267px); }

.concept__title {
  padding: 24px 0; }

.concept__img--left {
  float: left;
  margin-right: 24px; }

.concept__img--right {
  float: right;
  float: right;
  margin-left: 24px; }

.concept__img {
  padding: 4px;
  margin-bottom: 24px;
  border: 1px solid lightgray; }

.concept__text-link {
  color: red;
  text-decoration: none; }

.concept__text-link:hover {
  text-decoration: underline; }

.services__content {
  max-width: 980px;
  width: 100%;
  margin: 100px auto;
  min-height: -webkit-calc(100vh - 267px);
  min-height: calc(100vh - 267px); }

.services__title {
    text-align: center;
  padding: 24px 0; }

.services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.services__item {
    border-radius: 5px;
  background-color: #DFA94F;
  max-width: 48%;
  padding: 12px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.services__list {
  padding: 0;
  padding-left: 24px; }

.services__list-item,
.services__title,
.services__subtitle,
.services__text {
  color: #191919; }

.services__subtitle {
  width: 100%;
  text-align: center;
}

.button-wrapper {
  text-align: center;
  width: 100%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.services__button {
    border-radius: 8px;
  margin: auto;
  height: 40px;
  background-color: #313131;
  color: #fff;
  outline: none;
  border: none;
  display: block;
  width: 146px;
  line-height: 36px;
  text-decoration: none;
  transition: all 0.2s;
}

.services__button:hover {
  background-color: #4d4d4d;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 360px;
    width: 360px;
    margin-top: -180px;
    margin-left: -180px;
    left: 50%;
    top: 50%;
    position: absolute; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-image: url("../img/8-fon-dlya-sayta.png"); }

.hidden {
  display: none; }

.page {
  overflow: hidden; }

.main {
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  left: 0; }

.header {
  overflow: hidden;
  border-bottom: 5px solid #dfa94f;
  position: fixed;
  z-index: 999999;
  width: 100%; }

.header {
  background-color: #313131; }

.header__content {
  max-width: 980px;
  width: 100%;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo-wrapper {
  height: 80px; }

.header__logo {
  height: 100%; }

.h-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  list-style-type: none; }

.h-nav__item a {
  color: #888888;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.h-nav__item a:hover {
  color: #dfa94f; }

.h-nav__item--active a {
  color: #dfa94f;
}

.carousel-wrapper img {
  width: 100%; }

.carousel-wrapper {
  padding-top: 85px; }

.carousel__item {
  height: -webkit-calc(100vh - 85px);
  height: calc(100vh - 85px);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover; }

/*.carousel__item--1 {*/
  /*background-image: url("../img/img1.jpg"); }*/

/*.carousel__item--2 {*/
  /*background-image: url("../img/img2.jpg"); }*/

/*.carousel__item--3 {*/
  /*background-image: url("../img/img3.jpg"); }*/

/*.carousel__item--4 {*/
  /*background-image: url("../img/img4.jpg"); }*/

.block-info {
  max-width: 980px;
  margin: auto;
  padding-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.bi-item {
  border-radius: 5px;
  max-width: 306px;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d7d7d7;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.bi-item:hover {
  background-color: #313131; }

.bi-item:hover .bi-item__text,
.bi-item:hover .bi-item__title {
  color: #fff; }

.bi-item__title {
  color: #888888;
  font-size: 18px; }

.bi-item__text {
  color: #888888;
  font-size: 14px;
  text-align: center; }

.bi-item__icon {
  font-size: 44px;
  color: #DFA94F; }

.icon-info {
  margin-top: 80px;
  background-color: #DFA94F; }

.icon-info__content {
  padding: 80px 0;
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ii-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 306px; }

.ii-item__icon {
  font-size: 44px;
  color: #9E6D1D;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.ii-item__icon:hover {
  color: #fff; }

.ii-item__text {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0; }

.ii-item__title {
  font-size: 18px;
  color: #fff;
  margin: 20px; }

.text-info {
  padding: 80px 0;
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ti-item {
  width: 306px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.ti-item__text {
  font-size: 14px;
  color: #888888;
  margin-top: 0; }

.ti-item__title {
  color: #888888;
  font-size: 18px;
  margin-bottom: 12px; }

.text-info__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.ti-item {
  margin-left: 20px; }

.ti-item:nth-of-type(1) {
  margin-left: 0; }

.text-info__main-title {
  text-align: center;
  color: #888888;
  font-size: 30px;
  width: 100%;
  margin: 0 0 50px 0; }

.footer__copyr {
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0; }

.footer {
  background-color: #313131;
  border-top: 5px solid #DFA94F;
  color: #fff; }

.burger {
  display: none;
  width: 45px;
  height: 33px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
.burger span:nth-child(1) {
  top: 0px; }

.burger span:nth-child(2), .burger span:nth-child(3) {
  top: 14px; }

.burger span:nth-child(4) {
  top: 28px; }

.burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.slide-menu {
  position: fixed;
  top: 60px;
  left: 0;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background-color: #dfa94f;
  border-right: 1px solid #DF913B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999;
  width: 40%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  left: -40%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.slide-nav__list {
  width: 100%; }

.slide-nav__item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 46px;
  font-size: 18px; }
  .slide-nav__item a {
    text-decoration: none;
    color: #313131;
    text-transform: uppercase; }

.active-menu {
  left: 0; }

.slide-page {
  left: 40%; }

.contact__item:focus,
.contact__textarea:focus {
  border: 1px solid #DFA94F;
  outline: none; }

.project-full::-webkit-scrollbar {
    width: 6px;
}

.project-full::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.project-full::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.page .projects__wrapper,
.page .concept__content,
.page .services__content,
.page .contact-wrapper {
  padding-top: 32px;
}