@media (max-width: 1024px) {

	.project-full {
		max-width: 98%;
		left: 1%;
	}

	.footer,
	.header,
	.text-info,
	.block-info,
	.icon-info {
		padding-left: 36px;
		padding-right: 36px;
	}

	.block-info {
		justify-content: center;
	}

	.bi-item {
		margin-left: 12px;
		margin-right: 12px;
	}

	.projects__wrapper,
	.concept__content,
	.services__content {
		padding: 0 36px;
	}

	.projects__item {
		margin-right: 24px;
		margin-bottom: 24px;
	}

	.projects__item:nth-child(3n) {
		margin-right: 0px;
	}

	.projects {
		justify-content: center;
	}
}

@media (max-width: 980px) {
	.contact-wrapper {
		padding: 0 12px;
	}
}

@media (max-width: 790px) {
	.projects__item {
		margin-right: 12px;
		margin-bottom: 12px;
	}

	.projects__item:nth-child(3n) {
		margin-right: 0px;
	}
}

@media (max-width: 767px) {
	.text-info__wrapper {
		flex-wrap: wrap;
	}

	.ti-item {
		width: 100%;
		margin-left: 0;
	}

	.icon-info__content {
		flex-wrap: wrap;
	}

	.ii-item {
		width: 100%;
		margin-bottom: 30px;
	}

	.header__content,
	.header__logo-wrapper {
		height: 60px;
	}

	.h-nav__list {
		width: 312px;
	}

	.header,
	.footer {
		padding-left: 12px;
		padding-right: 12px;
	}

	.carousel-wrapper {
		padding-top: 60px;
	}

	.carousel__item {
		height: calc(100vh - 60px);
	}

	.projects__wrapper,
	.concept__content,
	.services__content {
		padding: 0 12px;
	}
}

@media (max-width: 714px) {
	.projects__item {
		margin-right: 32px;
		margin-bottom: 32px;
	}

	.projects__item:nth-child(3n) {
		margin-right: 32px;
	}

	.projects__item:nth-child(even) {
		margin-right: 0px;
	}

	.services__item {
		padding: 6px 12px 12px;
	}
}

@media (max-width: 624px) {
	.services__item {
		max-width: 100%;
		margin-bottom: 24px;
	}

	.services__wrapper {
		flex-wrap: wrap;
	}

	/*.project-full {*/
		/*max-width: 480px;*/
		/*left: calc(50% - 240px);*/
	/*}*/
}

@media (max-width: 520px) {
	.burger {
		display: block;
		margin: 0;
		position: absolute;
		left: 12px;
	}

	.header__nav {
		display: none;
	}

	.header__content {
		/*justify-content: flex-start;*/
		justify-content: center;
	}

	.input-wrapper {
		flex-wrap: wrap;
	}

	.input-wrapper label {
		width: 100%;
	}

	.projects {
		flex-direction: column;
		align-items: center;
	}

	.projects__item,
	.projects__item:nth-child(3n),
	.projects__item:nth-child(even) {
		margin: 24px 0px;
	}

	.social-block {
		justify-content: space-around;
		padding: 24px 0;
		flex-direction: row;
	}

	.contact-wrapper {
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	/*.project-full {*/
		/*max-width: 400px;*/
		/*left: calc(50% - 200px);*/
	/*}*/

	.cross {
		display: block;
	}
}

/*@media (max-width: 420px) {*/
	/*.project-full {*/
		/*max-width: 310px;*/
		/*left: calc(50% - 155px);*/
	/*}*/
/*}*/

@media (max-width: 380px) {
	.slide-menu {
		left: -60%;
		width: 60%;
	}

	.active-menu {
		left: 0;
	}

	.slide-page {
		left: 60%;
	}
}