.projects__wrapper {
  max-width: 980px;
  width: 100%;
  margin: 100px auto 0; }

.projects__title {
  padding: 24px 0; }

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.projects__item {
  width: 222px;
  height: 222px;
  border: 1px solid black;
  /*background-image: url("../img/proj.jpg");*/
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-bottom: 30px; }

.projects__item:hover {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06); }

.project-full {
  position: fixed;
  max-width: 600px;
  height: auto;
  max-height: 80%;
  background-color: #fff;
  z-index: 99999999;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  left: -webkit-calc(50% - 300px);
  left: calc(50% - 300px);
  top: 16%;
  overflow: auto; }

.growup {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  overflow: auto; }

.project-full__content {
  padding: 16px;
  overflow: auto; }

.shadow-active {
  display: block; }

.proj-slider .slick-arrow {
  position: absolute;
  top: 40%;
  background-color: transparent;
  font-size: 40px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.proj-slider .slick-arrow:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8; }

.proj-slider .slick-arrow.slick-next {
  right: 1px; }

.proj-slider .slick-arrow.slick-prev {
  z-index: 999; }

.cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: none; }
  .cross img {
    width: 100%; }
