.services__content {
  max-width: 980px;
  width: 100%;
  margin: 100px auto;
  min-height: -webkit-calc(100vh - 267px);
  min-height: calc(100vh - 267px); }

.services__title {
  padding: 24px 0; }

.services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.services__item {
  background-color: #DFA94F;
  max-width: 48%;
  padding: 12px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.services__list {
  padding: 0;
  padding-left: 24px; }

.services__list-item,
.services__title,
.services__subtitle,
.services__text {
  color: #191919; }

.button-wrapper {
  text-align: center;
  width: 100%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.services__button {
  margin: auto;
  height: 40px;
  background-color: #313131;
  color: #fff;
  outline: none;
  border: none; }
