.contact-form {
  max-width: 980px;
  margin: auto;
  margin-top: 12px;
  padding: 24px 0;
}

.contact-wrapper {
  min-height: calc(100vh - 167px);
}

.contact__title {
  color: #888;
  padding: 24px 0;
}

.contact__item {
  height: 40px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  color: #888;
  label {
    width: 30%;
    .req {
      color: red;
    }
    input {
      color: #888;
      padding: 0 8px;
    }
  }
}

.contact__textarea {
  width: 100%
}

.contact__textarea-wrapper {
  margin-top: 24px;
  display: block;
  color: #888;
  textarea {
    padding: 8px;
    color: #888;
  }
}

.contact__button {
  width: 150px;
  height: 35px;
  outline: none;
  border: 1px solid #888;
  background-color: #FBFBFB;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.contact__button:hover {
  background-color: #f0f0f0;
}

.social-block {
  display: flex;
}

.social__item {
  margin-right: 24px;
  width: 60px;
  height: auto;
  display: block;
  transition: all 0.2s;
  img {
    width: 100%;
  }
}

.social__item:hover {
  transform: scale(1.1);
}

.contact-wrapper {
  margin-top: 140px;
  max-width: 980px;
  width: 100%;
  margin: 100px auto 0;
}