@import "bourbon/bourbon";
@import "contacts";
@import "projects";
@import "concept";
@import "services";

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	.loader_inner {
		background-image: url("../img/preloader.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		height: 360px;
		width: 360px;
		margin-top: -180px;
		margin-left: -180px;
		left: 50%;
		top: 50%;
		position: absolute;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	background-image: url('../img/8-fon-dlya-sayta.png');
}

.hidden {
	display: none;
}

.page {
	overflow: hidden;
}

.main {
	position: relative;
	transition: all 0.4s;
	left: 0;
}

.header {
	overflow: hidden;
	border-bottom: 5px solid #DFA94F;
	position: fixed;
	z-index: 999999;
	width: 100%;
}

.header {
	background-color: rgb(49, 49, 49);
}

.header__content {
	max-width: 980px;
	width: 100%;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-wrapper {
	height: 80px;
}

.header__logo {
	height: 100%;
}

.h-nav__list {
	display: flex;
	justify-content: space-between;
	width: 380px;
	list-style-type: none;
}

.h-nav__item a {
	color: #888888;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s;
}

.h-nav__item a:hover {
	color: rgb(223, 169, 79);
}

.carousel-wrapper img {
	width: 100%;
}

.carousel-wrapper {
	padding-top: 85px;
}

.carousel__item {
	height: calc(100vh - 85px);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel__item--1 {
	background-image: url('../img/img1.jpg');
}

.carousel__item--2 {
	background-image: url('../img/img2.jpg');
}

.carousel__item--3 {
	background-image: url('../img/img3.jpg');
}

.carousel__item--4 {
	background-image: url('../img/img4.jpg');
}

.block-info {
	max-width: 980px;
	margin: auto;
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bi-item {
	max-width: 306px;
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: 1px solid #d7d7d7;
	margin-bottom: 30px;
	cursor: pointer;
	transition: all 0.4s;
}

.bi-item:hover {
	background-color: rgb(49, 49, 49);;
}

.bi-item:hover .bi-item__text,
.bi-item:hover .bi-item__title {
	color: #fff;
}

.bi-item__title {
	color: #888888;
	font-size: 18px
}

.bi-item__text {
	color: #888888;
	font-size: 14px;
	text-align: center;
}

.bi-item__icon {
	font-size: 44px;
	color: #DFA94F;
}

.icon-info {
	margin-top: 80px;
	background-color: #DFA94F;
}

.icon-info__content {
	padding: 80px 0;
	max-width: 980px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.ii-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 306px;
}

.ii-item__icon {
	font-size: 44px;
	color: #9E6D1D;
	cursor: pointer;
	transition: all 0.2s;
}

.ii-item__icon:hover {
	color: #fff;
}

.ii-item__text {
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.ii-item__title {
	font-size: 18px;
	color: #fff;
	margin: 20px;
}

.text-info {
	padding: 80px 0;
	max-width: 980px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ti-item {
	width: 306px;
	display: flex;
	flex-direction: column;
}

.ti-item__text {
	font-size: 14px;
	color: #888888;
	margin-top: 0;
}

.ti-item__title {
	color: #888888;
	font-size: 18px;
	margin-bottom: 12px;
}

.text-info__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.ti-item {
	margin-left: 20px;
}

.ti-item:nth-of-type(1) {
	margin-left: 0;
}

.text-info__main-title {
	text-align: center;
	color: #888888;
	font-size: 30px;
	width: 100%;
	margin: 0 0 50px 0;
}

.footer__copyr {
	max-width: 980px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.footer {
	background-color: #313131;
	border-top: 5px solid #DFA94F;
	color: #fff;
}

//burger css
.burger {
	display: none;
	width: 45px;
	height: 33px;
	position: relative;
	margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Icon 3 */

.burger span:nth-child(1) {
	top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
	top: 14px;
}

.burger span:nth-child(4) {
	top: 28px;
}

.burger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.burger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.slide-menu {
	position: fixed;
	top: 60px;
	left: 0;
	height: calc(100vh - 60px);
	background-color: rgba(223, 169, 79, 1);
	border-right:1px solid #DF913B;
	display: flex;
	z-index: 999999;
	width: 40%;
	align-items: center;
	left: -40%;
	transition: all 0.4s;
}
.slide-nav__list {
	width: 100%;
}

.slide-nav__item {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 46px;
	font-size: 18px;
	a {
		text-decoration: none;
		color: rgb(49, 49, 49);
		text-transform: uppercase;
	}
}

.active-menu {
	left: 0;
}

.slide-page {
	left: 40%;
}

.contact__item:focus,
.contact__textarea:focus {
	border: 1px solid #DFA94F;
	outline: none;
}