<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <link rel="shortcut icon" href="static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="static/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/favicon/apple-touch-icon-114x114.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="static/libs/animate/animate.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/animate.css">

    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/media.css">
</head>
<body>
<!--MENU-->
{% include 'header.html' %}
<!--MENU-->
<!--CONTENT-->
{% block body %} {% endblock %}
<!--CONTENT-->

<!--footer-->
{% include 'footer.html' %}
<!--footer-->
<div class="slide-menu">
    <ul class="slide-nav__list">
        <li class="slide-nav__item"><a href="{% url 'concepts' %}">Концепция</a></li>
        <li class="slide-nav__item"><a href="{% url 'projects' %}">Проекты</a></li>
        <li class="slide-nav__item"><a href="{% url 'services' %}">Услуги</a></li>
        <li class="slide-nav__item"><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
</div>
</body>
<!--[if lt IE 9]>
	<script src="static/libs/html5shiv/es5-shim.min.js"></script>
	<script src="static/libs/html5shiv/html5shiv.min.js"></script>
	<script src="static/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<![endif]-->

    <!-- <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="libs/animate/animate-css.js"></script> -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/animate-css.js"></script>
    <script src="static/js/common.js"></script>
{% block scripts %}
{% endblock %}
</html>