{% extends 'base.html' %}
{% block body %}
    <div class="page">
        <div class="main main--concept">
            <div class="concept__content">
{#                <h1 class="concept__title">Wheat House - студия дизайна и архитектурной визуализации</h1>#}
                <img class="concept__img concept__img--right" src="static/img/imgl.gif" alt="">
                <p class="concept__text">Работая в разных стилистических направлениях,мы создаем микс,основанный на
                    истории и современных трендах.Каждый интерьер по своему сложен и уникален.
                    Создавать уютные,комфортные пространства-наша основная цель.
                </p>
                <p class="concept__text">Учитывая Ваши пожелания,мы получаем продуманный дизайн,наполненный
                    атмосферой,цветом,смыслом.Мы верим,что каждый человек неповторим и это отражается во всем,что его
                    окружает.
                </p>
                <img class="concept__img concept__img--left" src="static/img/imgl.gif" alt="">
                <p class="concept__text">Любому интерьеру мы знаем как придать характер,стиль,настроение и нестандартные
                    решения.Мы любим свою работу и хотим оправдать Ваши ожидания.</p>
                <p class="concept__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                    exercitationem
                    obcaecati possimus. Ab eligendi fuga illum iure magni!</p>
                <p class="concept__text">Lorem <a href="#" class="concept__text-link">consectetur adipisicing</a> ipsum
                    dolor sit amet, consectetur adipisicing elit. Blanditiis enim illo impedit laborum. Consectetur modi
                    nam
                    perferendis possimus praesentium, quia quis quod!</p>
                <p class="concept__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor esse
                    labore minima quasi sequi suscipit veniam. Consectetur cumque eveniet in itaque libero nemo nihil
                    nisi,
                    <a href="#" class="concept__text-link">consectetur adipisicing</a> odio quas rem soluta, temporibus
                    voluptates!</p>
                <img class="concept__img concept__img--right" src="static/img/imgl.gif" alt="">
                <p class="concept__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                    exercitationem
                    obcaecati possimus. Ab eligendi fuga illum iure magni!</p>
                <p class="concept__text">Lorem <a href="#" class="concept__text-link">consectetur adipisicing</a> ipsum
                    dolor sit amet, consectetur adipisicing elit. Blanditiis enim illo impedit laborum. Consectetur modi
                    nam
                    perferendis possimus praesentium, quia quis quod!</p>
                <p class="concept__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                    exercitationem
                    obcaecati possimus. Ab eligendi fuga illum iure magni!</p>
                <p class="concept__text">Lorem <a href="#" class="concept__text-link">consectetur adipisicing</a> ipsum
                    dolor sit amet, consectetur adipisicing elit. Blanditiis enim illo impedit laborum. Consectetur modi
                    nam
                    perferendis possimus praesentium, quia quis quod!</p>
            </div>
        </div>
    </div>
{% endblock %}