{% extends 'base.html' %}
{% block body %}

<div class="page">

    <div class="main main--contact">
        <div class="contact-wrapper">
{#            <h2 class="contact__title">Напишите нам</h2>#}
            <div class="social-block">
                <a href="" class="social__item" title="facebook">
                    <img src="static/img/facebook-logo.svg" alt="">
                </a>
                <a href="" class="social__item" title="instagram">
                    <img src="static/img/instagram-logo.svg" alt="">
                </a>
                <a href="" class="social__item" title="telegram">
                    <img src="static/img/telegram-logo.svg" alt="">
                </a>
                <a href="" class="social__item" title="whatsapp">
                    <img src="static/img/whatsapp-logo.svg" alt="">
                </a>
            </div>
            <div class="form-wrapper">
                <form method="post" action="#" class="contact-form">
                    <div class="input-wrapper">
                        {% csrf_token %}

                        <label for="">
                            Имя <br>
                            {{ form.name }}
                        </label>
                        <label for="">
                            Телефон <br>
                            {{ form.phone }}
                        </label>
                        <label for="">
                            E-mail <br>
                            {{ form.email }}

                        </label>
                    </div>
                    <label for="" class="contact__textarea-wrapper">
                        Ваш комментарий <br>
                       {{ form.comment }}
                    </label>
                    <button type="submit" value="submit" class="contact__button">Отправить</button>
                    {% if message %}
                        Спасибо что связались с нами
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}