<footer class="footer">
    <div class="footer__copyr">
        <div class="left">
{#            Copyright © 2019 - All Rights Reserved - w#}
        </div>
        <div class="right">
            Copyright © 2019 - All Rights Reserved - wh.design
        </div>
    </div>
</footer>