<header class="header">
    <div class="header__content">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__logo-wrapper">
            <img class="header__logo" src="static/img/logo1.png" alt="">
        </div>
        <nav class="header__nav h-nav">
            <ul class="h-nav__list">
                <li class="h-nav__item" data-name="concepts"><a href="{% url 'concepts' %}">Концепция</a></li>
                <li class="h-nav__item" data-name="projects"><a href="{% url 'projects' %}">Проекты</a></li>
                <li class="h-nav__item" data-name="services"><a href="{% url 'services' %}">Услуги</a></li>
                <li class="h-nav__item" data-name="contacts"><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>