{% extends 'base.html' %}
{% block body %}
    <div class="page">

        <div class="main">
            <section class="carousel-wrapper">

            </section>

            <section class="block-info">
                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">{{ carousel_paths | safe}}</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>

                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">Senectus Et Netus</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>

                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">Senectus Et Netus</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>

                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">Senectus Et Netus</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>

                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">Senectus Et Netus</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>

                <div class="block-info__item bi-item">
                    <i class="fas fa-layer-group bi-item__icon"></i>
                    <h3 class="bi-item__title">Senectus Et Netus</h3>
                    <p class="bi-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                </div>
            </section>

            <section class="icon-info">
                <div class="icon-info__content">
                    <div class="icon-info__item ii-item">
                        <i class="fas fa-frog ii-item__icon"></i>
                        <h3 class="ii-item__title">Senectus Et Netus</h3>
                        <p class="ii-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                    </div>

                    <div class="icon-info__item ii-item">
                        <i class="fas fa-frog ii-item__icon"></i>
                        <h3 class="ii-item__title">Senectus Et Netus</h3>
                        <p class="ii-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                    </div>

                    <div class="icon-info__item ii-item">
                        <i class="fas fa-frog ii-item__icon"></i>
                        <h3 class="ii-item__title">Senectus Et Netus</h3>
                        <p class="ii-item__text">Rhoncus praesent semper lacus in vestibulum posuere maecenas…</p>
                    </div>
                </div>
            </section>

            <section class="text-info">
                <h2 class="text-info__main-title">Vitae Mauris Dignissim</h2>
                <div class="text-info__wrapper">
                    <div class="text-info__item ti-item">
                        <h3 class="ti-item__title">Laoreet Augue Porttitor</h3>
                        <p class="ti-item__text">Ipsum ut nunc dapibus vulputate cras nec viverra lectus nulla eu
                            bibendum est in convallis diam non odio…</p>
                    </div>

                    <div class="text-info__item ti-item">
                        <h3 class="ti-item__title">Laoreet Augue Porttitor</h3>
                        <p class="ti-item__text">Ipsum ut nunc dapibus vulputate cras nec viverra lectus nulla eu
                            bibendum est in convallis diam non odio…</p>
                    </div>

                    <div class="text-info__item ti-item">
                        <h3 class="ti-item__title">Laoreet Augue Porttitor</h3>
                        <p class="ti-item__text">Ipsum ut nunc dapibus vulputate cras nec viverra lectus nulla eu
                            bibendum est in convallis diam non odio…</p>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
function setSliderImage() {
        var slidesSrcList = {{ carousel_paths | safe}};
        var slidesCount = slidesSrcList.length;

        for (var index = 0; index < slidesCount; index++) {
            var element = '<div class="carousel__item carousel__item--' + index + '"></div>';
            $('.carousel-wrapper').append(element);
            $($('.carousel__item--' + index)).css('background-image', 'url("' + slidesSrcList[index] + '")');
        }
    }
    setSliderImage();
</script>
{% endblock %}
