{% extends 'base.html' %}
{% block body %}

    <div class="page">
        <div class="main main--projects">
            <div class="projects__wrapper">
{#                <h2 class="projects__title">Галерея выполненных проектов</h2>#}
                <div class="projects">
                    {% for project in projects %}
                        {# Определить путь до обложки альбома в шаблоне #}
                    <div class="projects__item"></div>
                    {% endfor %}
                    <div class="shadow"></div>
                    <div class="project-full">
                        <div class="proj-slider">
                            <img src="static/img/prslide1.jpg" alt="">
                            <img src="static/img/prslide2.jpg" alt="">
                            <img src="static/img/prslide3.png" alt="">
                        </div>
                        <div class="project-full__content">
                            <h3 class="project-full__title">Имя проекта</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum ex facere,
                                impedit, iste laborum maiores maxime minus officiis recusandae repellat repudiandae
                                saepe vitae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim et officia
                                possimus repudiandae, rerum sit voluptatibus? Assumenda ipsam necessitatibus sequi
                                totam. Dignissimos doloribus enim, eos fugit harum in laborum obcaecati perspiciatis
                                quis vel vero vitae voluptates! Expedita quae, vitae!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam blanditiis
                                consequuntur ea explicabo laborum quisquam sequi! A ab adipisci aliquam at aut commodi
                                deserunt dolore earum eos esse explicabo facere, fuga fugiat illo in incidunt inventore
                                itaque maiores minus modi nam nemo nihil nostrum officiis omnis optio porro quas quia
                                reprehenderit, sapiente, sunt vel voluptas.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure quas quasi?</p>
                        </div>
                        <div class="cross">
                            <img src="static/img/cross.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}