{% extends 'base.html' %}
{% block body %}

    <div class="page">

        <div class="main main--services">
            <div class="services__content">
{#                <h1 class="services__title">Наши заебачие услуги</h1>#}
                <div class="services__wrapper">
                    <div class="services__item">
                        <h2 class="services__subtitle">ДИЗАЙН ИНТЕРЬЕРА</h2>
                        <p class="services__text">Мы работаем поэтапно,двигаясь от общего до детального представления
                            интерьера.</p>
                        <ul class="services__list">
                            <li class="services__list-item">Этап подготовки.Составление Технического задания,замеры
                                объекта,обсуждение пожеланий.
                            </li>
                            <li class="services__list-item">Планировочные решения и концепция.</li>
                            <li class="services__list-item">3D визуализация,подбор материалов,мебели,предметов
                                освещения.

                            </li>
                            <li class="services__list-item">Чертежи,необходимые для строительства,включая спецификации
                                материалов,выпускаются в виде альбома.
                            </li>
                        </ul>

                        <p class="services__text">Начиная новый проект,мы стараемся максимально сотрудничать с
                            клиентом,прочувствовать его эмоции,узнать привычки и образ жизни,чтобы создать для него
                            комфортный интерьер,отражающий индивидуальность.
                        </p>
                        <p class="services__text">
                            Мы приветствуем как заинтересованность в совместном выборе материалов и предметов мебели для
                            будущего интерьера,так и полную отдачу этой роли дизайнеру.
                        </p>
                        <div class="button-wrapper">
                            <a href="{% url 'contacts' %}" class="services__button">Связаться с нами</a>
                        </div>
                    </div>

                    <div class="services__item">
                        <h2 class="services__subtitle">АРХИТЕКТУРНАЯ ВИЗУАЛИЗАЦИЯ</h2>
                        <p class="services__text">Работа происходит поэтапно.Количество и состав этапов обсуждаем после
                            обсуждения проекта.</p>
                        <ul class="services__list">
                            <li class="services__list-item">Lorem ipsum.</li>
                            <li class="services__list-item">Lorem ipsum dolor sit amet.</li>
                            <li class="services__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Dolor
                                odit optio recusandae unde!
                            </li>
                            <li class="services__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid at deleniti dicta dolorum, et fugit iste iure neque quaerat quibusdam quisquam
                                suscipit totam, vel.
                            </li>
                            <li class="services__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </li>
                            <li class="services__list-item">Lorem ipsum dolor sit amet.</li>
                        </ul>

                        <p class="services__text">Мы создаем реалистичные визуализированные изображения для дизайнеров
                            интерьера и архитекторов.Наша цель-используя реалистичный свет,материалы и ракурсы,помочь
                            донести идею Вашего проекта,передать его атмосферу и особенность.</p>

                        <div class="button-wrapper">
                            <a href="{% url 'contacts' %}" class="services__button">Связаться с нами</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}